In [10]:
import psycopg2
import pandas as pd

host = 'localhost'
dbname = 'nyc-taxi-data'
user = 'cg'

try:
    conn_str = f"host={host} dbname={dbname} user={user}"
    conn = psycopg2.connect(conn_str)
    
except Exception as e:
    print(e)

In [14]:
sql = """SELECT A.id, 
                EXTRACT(YEAR FROM A.pickup_datetime) AS year, 
                EXTRACT(MONTH FROM A.pickup_datetime) AS month, 
                EXTRACT(DOW FROM A.pickup_datetime) AS dow, 
                A.pickup_location_id, 
                CASE 
                    WHEN A.dropoff_location_id IS NULL THEN 1
                    ELSE 0
                END AS no_do_location,
                UPPER(B.dba_category) AS type
            FROM fhv_trips_samp_pt1pct A 
            LEFT JOIN fhv_bases B 
            ON A.dispatching_base_num = B.base_number;"""
df = pd.read_sql_query(sql, conn)
df.head()

          id    year  month  dow  pickup_location_id  no_do_location  type
0   86216845  2016.0    2.0  5.0                 7.0               1  UBER
1   94385731  2016.0    3.0  3.0               262.0               1   VIA
2  122667468  2016.0    6.0  0.0                36.0               1  UBER
3  134508720  2016.0    7.0  5.0               225.0               1  UBER
4  160305142  2016.0    9.0  4.0               236.0               1  UBER

In [26]:
type(df[['no_do_location']].values)
#pd.crosstab(df[['type']].values, df[['no_do_location']].values, rownames=['type'], colnames=['no_do_location'])

numpy.ndarray

In [4]:
cursor.close()
conn.close()